# --- Clock / Cutoff ---
TRADE_EOD_TZ=Asia/Jakarta
TRADE_EOD_CUTOFF_HOUR=16
TRADE_EOD_CUTOFF_MIN=30


# --- Compute EOD ---
TRADE_EOD_UPSERT_BATCH_SIZE=500
TRADE_EOD_WARMUP_EXTRA_TRADING_DAYS=60


# --- Fees & Slippage ---
TRADE_FEE_BUY_RATE=0.0015
TRADE_FEE_SELL_RATE=0.0025
TRADE_FEE_EXTRA_BUY_RATE=0
TRADE_FEE_EXTRA_SELL_RATE=0
TRADE_SLIPPAGE_RATE=0.0005


# --- Indicators / Guardrails ---
TRADE_LOOKBACK_DAYS=260
TRADE_RSI_MAX_BUY=70
TRADE_RSI_WARN=66
TRADE_MIN_VOL_RATIO_BUY=1.5
TRADE_MIN_VOL_RATIO_CONFIRM=1.0
TRADE_PATTERN_VOL_STRONG=2.0
TRADE_PATTERN_VOL_BURST=1.5


# --- Planning (SL/TP/Entry) ---
TRADE_SL_MODE=ATR
TRADE_SL_ATR_MULT=1.5
TRADE_SL_PCT=0.03
TRADE_TP1_R=1
TRADE_TP2_R=2
TRADE_MIN_RR_TP2=1.5
TRADE_ENTRY_MODE=BREAKOUT
TRADE_ENTRY_BUFFER_TICKS=1
TRADE_BE_AT_R=1


# --- Market Data (EOD) ---
TRADE_MD_LOOKBACK_TRADING_DAYS=7
TRADE_MD_COVERAGE_MIN=95
TRADE_MD_TOL=0.0001
TRADE_MD_MAX_GAP_PCT=0.30
TRADE_MD_SOFT_FLAT_VOL_MIN=10
TRADE_MD_SOFT_FLAT_BAR_MIN_PCT=0.005
TRADE_MD_SOFT_GAP_EXTREME_PCT=0.20
TRADE_MD_SOFT_SAMPLE_LIMIT=100
TRADE_MD_PROVIDER=yahoo


# --- Universe / Liquidity ---
TRADE_MIN_DV20_IDR=1500000000
TRADE_MIN_PRICE_IDR=50
TRADE_MAX_PRICE_IDR=1000000
TRADE_MIN_AVG_VOLUME=100000
TRADE_MIN_ATR_PCT=0.01
TRADE_MAX_ATR_PCT=0.20


# --- Watchlist Core ---
WATCHLIST_MAX_CANDIDATES=60
WATCHLIST_GROUP_TOP_N=12
WATCHLIST_GROUP_SECONDARY_N=18
WATCHLIST_GROUP_WATCH_ONLY_N=30
WATCHLIST_MIN_SCORE_TOP=70
WATCHLIST_MIN_SCORE_SECONDARY=60
WATCHLIST_MIN_SCORE_WATCH_ONLY=50
WATCHLIST_SCORE_DECIMALS=2
WATCHLIST_TIE_BREAKER=score_then_dv20_then_atr
WATCHLIST_RESOLVE_LEFTOVER_CASH=keep_cash
WATCHLIST_ALLOC_MODE=equal_weight
WATCHLIST_ALLOC_MAX_TICKERS=6
WATCHLIST_ALLOC_MIN_LOT=1
WATCHLIST_ALLOC_MIN_CASH_IDR=200000


# --- Watchlist: Weekly Swing ---
WATCHLIST_WEEKLY_ENABLED=1
WATCHLIST_WEEKLY_TIMEBOX_DAYS=5
WATCHLIST_WEEKLY_MIN_RR=1.5
WATCHLIST_WEEKLY_MAX_SL_PCT=0.06
WATCHLIST_WEEKLY_MIN_ATR_PCT=0.02
WATCHLIST_WEEKLY_MAX_ATR_PCT=0.15
WATCHLIST_WEEKLY_DV20_MIN_IDR=2000000000
WATCHLIST_WEEKLY_SCORE_W_RR=0.30
WATCHLIST_WEEKLY_SCORE_W_TREND=0.35
WATCHLIST_WEEKLY_SCORE_W_LIQ=0.20
WATCHLIST_WEEKLY_SCORE_W_RISK=0.15


# --- Watchlist: Dividend Swing ---
WATCHLIST_DIVIDEND_ENABLED=1
WATCHLIST_DIVIDEND_TIMEBOX_DAYS=10
WATCHLIST_DIVIDEND_MIN_RR=1.2
WATCHLIST_DIVIDEND_MAX_SL_PCT=0.05
WATCHLIST_DIVIDEND_MIN_ATR_PCT=0.015
WATCHLIST_DIVIDEND_MAX_ATR_PCT=0.12
WATCHLIST_DIVIDEND_DV20_MIN_IDR=1500000000
WATCHLIST_DIVIDEND_SCORE_W_YIELD=0.35
WATCHLIST_DIVIDEND_SCORE_W_TREND=0.25
WATCHLIST_DIVIDEND_SCORE_W_LIQ=0.20
WATCHLIST_DIVIDEND_SCORE_W_RISK=0.20


# --- Watchlist: Position Trade ---
WATCHLIST_POSITION_TRADE_ENABLED=1
WATCHLIST_POSITION_TRADE_TIMEBOX_DAYS=30
WATCHLIST_POSITION_TRADE_MIN_RR=1.8
WATCHLIST_POSITION_TRADE_MAX_SL_PCT=0.08
WATCHLIST_POSITION_TRADE_MIN_ATR_PCT=0.01
WATCHLIST_POSITION_TRADE_MAX_ATR_PCT=0.10
WATCHLIST_POSITION_TRADE_DV20_MIN_IDR=3000000000
WATCHLIST_POSITION_TRADE_SCORE_W_TREND=0.45
WATCHLIST_POSITION_TRADE_SCORE_W_RR=0.25
WATCHLIST_POSITION_TRADE_SCORE_W_LIQ=0.20
WATCHLIST_POSITION_TRADE_SCORE_W_RISK=0.10


# --- Watchlist: Intraday Light ---
WATCHLIST_INTRADAY_LIGHT_ENABLED=1
WATCHLIST_INTRADAY_LIGHT_TIMEBOX_DAYS=1
WATCHLIST_INTRADAY_LIGHT_MIN_RR=1.1
WATCHLIST_INTRADAY_LIGHT_MAX_SL_PCT=0.03
WATCHLIST_INTRADAY_LIGHT_MIN_ATR_PCT=0.01
WATCHLIST_INTRADAY_LIGHT_MAX_ATR_PCT=0.08
WATCHLIST_INTRADAY_LIGHT_DV20_MIN_IDR=2000000000
WATCHLIST_INTRADAY_LIGHT_SCORE_W_MOMO=0.35
WATCHLIST_INTRADAY_LIGHT_SCORE_W_LIQ=0.35
WATCHLIST_INTRADAY_LIGHT_SCORE_W_RISK=0.30


# --- Portfolio Core ---
PORTFOLIO_DEFAULT_ACCOUNT_ID=
PORTFOLIO_DEFAULT_STRATEGY_CODE=WEEKLY_SWING
PORTFOLIO_MATCHING_METHOD=fifo
PORTFOLIO_REJECT_SHORT_SELL=1
PORTFOLIO_MAX_OPEN_POSITIONS=12
PORTFOLIO_MAX_TOTAL_ALLOC_PCT=0.85
PORTFOLIO_MAX_ALLOC_PCT_PER_POSITION=0.20


# --- Portfolio: Weekly Swing ---
PORTFOLIO_WEEKLY_COOLDOWN_AFTER_SL=3
PORTFOLIO_WEEKLY_NO_AVERAGING_DOWN=1


# --- Portfolio: Dividend Swing ---
PORTFOLIO_DIVIDEND_COOLDOWN_AFTER_SL=5
PORTFOLIO_DIVIDEND_NO_AVERAGING_DOWN=1


# --- Portfolio: Position Trade ---
PORTFOLIO_POSITION_TRADE_ENABLED=1
PORTFOLIO_POSITION_TRADE_ALLOW_NEW_ENTRIES=1
PORTFOLIO_POSITION_TRADE_COOLDOWN_AFTER_SL=10
PORTFOLIO_POSITION_TRADE_NO_AVERAGING_DOWN=1
PORTFOLIO_POSITION_TRADE_ENABLE_RISK_EVENTS=1


# --- Portfolio: Intraday ---
PORTFOLIO_INTRADAY_ENABLED=0
PORTFOLIO_INTRADAY_COOLDOWN_AFTER_SL=1
PORTFOLIO_INTRADAY_NO_AVERAGING_DOWN=1
PORTFOLIO_INTRADAY_ENABLE_RISK_EVENTS=1
